* {
  text-decoration: none;
  color: #090b17;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navigationBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  gap: 40px;
  font-size: 14px;
  font-weight: 600;
  padding: 20px 28px;

  ul {
    list-style: none;
    display: flex;
    vertical-align: baseline;
    gap: 40px;

    margin: auto;
  }
}

.logo {
  width: 134px;
  height: 20px;
  display: flex;
  position: relative;
  margin-left: 0px;
}

.navBar {
  justify-content: flex-end;
  display: flex;
  margin: auto;
  align-items: center;
  padding: auto;
  width: 100%;
}

.headerButtonsContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 20%;

  padding: 0%;

  a:nth-child(2) {
    border-radius: 4px;
    background: #5340ff;
    border: none;
    color: #fff;
    padding: 15px 24px;
  }
}
